<p>Register using the <b>Reactive Form/Dynamic Form</b> fields</p>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="well">
        <div>
            <label>User Id:
                <input id='id' type="text" class="form-control" formControlName="id">
                <span class="text-danger"
                    *ngIf="employeeForm.controls['id'].touched && employeeForm.controls['id'].hasError('required')">Please
                    Enter User ID</span></label>
        </div>
        <div>
            <label>First Name:
                <input id='firstName' type="text" class="form-control" formControlName="firstName"></label>
        </div>
        <div>
            <label>Last Name:
                <input id='lastName' type="text" class="form-control" formControlName="lastName"></label>
        </div>
        <div>
            <label>Email:
                <input id='email' type="text" class="form-control" formControlName="email">
                <span class="text-danger"
                    *ngIf="employeeForm.controls['email'].touched && employeeForm.controls['email'].hasError('email')">Please
                    enter valid email</span></label>
        </div>
        <div>
            <label>Mobile Number:
                <input id='mobileNumber' type="text" class="form-control" formControlName="mobileNumber">
                <span class="text-danger"
                    *ngIf="employeeForm.controls['mobileNumber'].touched && employeeForm.controls['mobileNumber'].hasError('minlength')">minimum
                    required 10 digits</span></label>
        </div>
    </div>
    <div class="form-group">
        <button type="button" (click)="addSkillButtonClick()" class="btn btn-warning">Add Skill</button>
    </div>
    <div class="well">
        <div formArrayName="skills" *ngFor="let skill of skillControls; let i = index">
            <hr *ngIf="i>0">
            <div [formGroupName]="i">
                <label>SkillName:
                    <input id='skillName' type="text" calss="form-control" formControlName="skillName"></label>
                &nbsp;&nbsp;
                <label>Experience:
                    <input id='experienceInYears' type="text" calss="form-control"
                        formControlName="experienceInYears"></label>
                <div *ngIf="i>0">
                    <button type="button" class="btn btn-danger btn-sm pull-right" title="delete skill"
                        (click)="skillsetRemove(i)">
                        <span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div>
                    <label>Proficiency:</label>&nbsp;&nbsp;
                    <label class="radio-inline">
                        <input type="radio" value="beginner" formControlName="proficiency">Beginner
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="intermediate" formControlName="proficiency">Intermediate
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="advanced" formControlName="proficiency">Advanced
                    </label>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Register</button>
</form>