<p>Register using the <b>Template Form</b> fields</p>
<form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <div>
        <label>User Id:
            <input id='id' type="text" class="form-control" ngModel name="id"></label>
    </div>
    <div>
        <label>First Name:
            <input id='firstName' type="text" class="form-control" ngModel name="firstName"></label>
    </div>
    <div>
        <label>Last Name:
            <input id='lastName' type="text" class="form-control" ngModel name="lastName"></label>
    </div>
    <div>
        <label>Email:
            <input id='lastName' type="text" class="form-control" ngModel name="email"></label>
    </div>
    <div>
        <label>Mobile Number:
            <input id='mobileNumber' type="text" class="form-control" ngModel name="mobileNumber"></label>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>